torch==2.0.0
torchsde
torchvision>=0.15.1
einops
transformers>=4.25.1
safetensors>=0.3.0
aiohttp
pyyaml
Pillow
scipy
tqdm
psutil
numba
colour-science
rembg
pandas
numexpr
segment-anything
scikit-image
piexif
opencv-python-headless
GitPython
matrix-client==0.4.0
huggingface-hub>0.20
opencv-python
imageio-ffmpeg
